In [61]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [62]:
df = pd.read_csv('dataprepocessing.csv')
df

,tahun,bulan,jenis,kode_trayek,trayek,jumlah_penumpang,jenis_kepadatan,Prediksi
0,2021,1,Mikrotrans,JAK.88,Terminal Tanjung Priok - Ancol Barat,1473.0,sepi,3
1,2021,1,Mikrotrans,JAK.85,Bintara - Cipinang Indah,20280.0,sepi,3
2,2021,1,Mikrotrans,JAK.84,Terminal Kampung Melayu - Kapin Raya,28779.0,sepi,3
3,2021,1,Mikrotrans,JAK.80,Rawa Buaya - Rawa Kompeni,54998.0,biasa,2
4,2021,1,Mikrotrans,JA.77,Tanjung Priok - Jembatan Item,60284.0,biasa,2
...,...,...,...,...,...,...,...,...
1468,2021,12,Angkutan Umum Integrasi,1A,PIK - Balai Kota,0.0,tidak ada,4
1469,2021,12,Angkutan Umum Integrasi,12B,Pluit - Senen,0.0,tidak ada,4
1470,2021,12,Angkutan Umum Integrasi,11Q,Kampung Melayu - Pulo Gebang via BKT,0.0,tidak ada,4
1471,2021,12,Angkutan Umum Integrasi,11D,Pulo Gebang - Pulo Gadung 2 via PIK,0.0,tidak ada,4
1472,2021,12,Angkutan Umum Integrasi,10K,Tanjung Priok - Senen via Taman BMW,0.0,tidak ada,4

In [63]:
df_baru = df.loc[:,['jenis','jumlah_penumpang','jenis_kepadatan','Prediksi']]
df_baru

                        jenis  jumlah_penumpang jenis_kepadatan  Prediksi
0                  Mikrotrans            1473.0            sepi         3
1                  Mikrotrans           20280.0            sepi         3
2                  Mikrotrans           28779.0            sepi         3
3                  Mikrotrans           54998.0           biasa         2
4                  Mikrotrans           60284.0           biasa         2
...                       ...               ...             ...       ...
1468  Angkutan Umum Integrasi               0.0       tidak ada         4
1469  Angkutan Umum Integrasi               0.0       tidak ada         4
1470  Angkutan Umum Integrasi               0.0       tidak ada         4
1471  Angkutan Umum Integrasi               0.0       tidak ada         4
1472  Angkutan Umum Integrasi               0.0       tidak ada         4

[1473 rows x 4 columns]

In [64]:
df_baru.isnull().sum()

jenis                0
jumlah_penumpang    36
jenis_kepadatan      0
Prediksi             0
dtype: int64

In [65]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)
imputer = imputer.fit(df_baru[['jumlah_penumpang']])
df_baru['jumlah_penumpang'] = imputer.transform(df_baru[['jumlah_penumpang']])
df_baru

                        jenis  jumlah_penumpang jenis_kepadatan  Prediksi
0                  Mikrotrans            1473.0            sepi         3
1                  Mikrotrans           20280.0            sepi         3
2                  Mikrotrans           28779.0            sepi         3
3                  Mikrotrans           54998.0           biasa         2
4                  Mikrotrans           60284.0           biasa         2
...                       ...               ...             ...       ...
1468  Angkutan Umum Integrasi               0.0       tidak ada         4
1469  Angkutan Umum Integrasi               0.0       tidak ada         4
1470  Angkutan Umum Integrasi               0.0       tidak ada         4
1471  Angkutan Umum Integrasi               0.0       tidak ada         4
1472  Angkutan Umum Integrasi               0.0       tidak ada         4

[1473 rows x 4 columns]

In [66]:
df_baru.isnull().sum()

jenis               0
jumlah_penumpang    0
jenis_kepadatan     0
Prediksi            0
dtype: int64

In [67]:
nama_kepadatan = dict(zip(df_baru.Prediksi.unique(), df_baru.jenis_kepadatan.unique()))
nama_kepadatan

{3: 'sepi', 2: 'biasa', 1: 'ramai', 4: 'tidak ada'}

In [68]:
from sklearn.model_selection import train_test_split
x = df_baru[['jumlah_penumpang']]
y = df_baru['Prediksi']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=1)

In [69]:
print(x_train)

      jumlah_penumpang
1163           56372.0
163            36157.0
47             56815.0
893            52495.0
98             94200.0
...                ...
715             8474.0
905            72845.0
1096           48895.0
235             9096.0
1061           15763.0

[1178 rows x 1 columns]

In [70]:
print(x_test)

      jumlah_penumpang
1126           94923.0
390            67771.0
824            38429.0
341            19217.0
1213           14984.0
...                ...
490            74041.0
304            46342.0
671            57293.0
1225           66701.0
311           756064.0

[295 rows x 1 columns]

In [71]:
print(y_train)

1163    2
163     3
47      2
893     2
98      2
       ..
715     3
905     2
1096    3
235     3
1061    3
Name: Prediksi, Length: 1178, dtype: int64

In [72]:
print(y_test)

1126    2
390     2
824     3
341     3
1213    3
       ..
490     2
304     3
671     2
1225    2
311     1
Name: Prediksi, Length: 295, dtype: int64

In [80]:
print('x_train = ',x_train.shape)
print('x_test = ',x_test.shape)
print('y_train = ',y_train.shape)
print('y_test = ',y_test.shape)

x_train =  (1178, 1)
x_test =  (295, 1)
y_train =  (1178,)
y_test =  (295,)

In [81]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train[:])
x_test = sc.fit_transform(x_test[:])

In [82]:
print(x_train)

[[-0.21121538]
 [-0.36699129]
 [-0.20780164]
 ...
 [-0.26883282]
 [-0.57552217]
 [-0.52414656]]

In [83]:
print(x_test)

[[ 2.21594664e-01]
 [-4.96339773e-02]
 [-3.42739118e-01]
 [-5.34652961e-01]
 [-5.76937538e-01]
 [ 9.09385825e-01]
 [-5.38079280e-01]
 [-5.37095992e-02]
 [ 4.90455848e-01]
 [-3.04799873e-01]
 [-4.56516896e-01]
 [ 2.03459710e+00]
 [-3.92615540e-01]
 [-6.15456160e-01]
 [-2.34575310e-01]
 [-1.01418350e-01]
 [-4.80511121e-01]
 [ 2.78246373e+00]
 [-2.90764950e-01]
 [-3.20228955e-02]
 [ 4.23090778e+00]
 [-1.95906848e-01]
 [-2.16534689e-01]
 [ 4.59259360e-01]
 [ 9.93060285e-02]
 [-5.97065915e-01]
 [-6.38781104e-01]
 [ 1.10164364e-01]
 [-3.92195991e-01]
 [-3.32889699e-01]
 [-6.52356521e-01]
 [-1.35701522e-01]
 [-2.64832807e-01]
 [-5.16318312e-02]
 [-5.15163896e-01]
 [ 5.89827666e+00]
 [-2.89086753e-01]
 [-2.77868803e-01]
 [-5.44891962e-01]
 [-1.66728192e-01]
 [-4.01286226e-01]
 [-6.85536534e-02]
 [-6.65931938e-01]
 [-4.45993856e-02]
 [-7.26616749e-01]
 [-4.92638094e-01]
 [ 6.87088965e-02]
 [-6.57830641e-01]
 [ 4.04598078e-01]
 [-5.97245722e-01]
 [-4.96174295e-01]
 [-2.60087904e-01]
 [-7.26616749e-01]
 [ 3.65490088e-01]
 [-8.77630184e-02]
 [-7.26616749e-01]
 [-1.94158726e-01]
 [-3.20628526e-02]
 [-2.25325246e-01]
 [-2.46672315e-01]
 [-9.78122233e-02]
 [ 3.05134923e-01]
 [-5.22006546e-01]
 [-4.51532250e-01]
 [-2.18438300e-02]
 [-3.61159331e-01]
 [ 2.01111012e-02]
 [-4.54429139e-01]
 [-5.82851185e-01]
 [-5.00050132e-01]
 [ 2.76535211e+00]
 [ 9.37146005e-01]
 [ 8.82083604e-02]
 [-5.39857370e-01]
 [-1.99782685e-01]
 [-5.57588323e-01]
 [-6.37712252e-01]
 [-6.65782099e-01]
 [-7.26287104e-01]
 [ 2.75356911e-01]
 [-1.32744698e-01]
 [-6.46622681e-01]
 [-2.37831812e-01]
 [-4.93896742e-01]
 [-5.18690108e-01]
 [-2.93881602e-01]
 [-3.48892508e-01]
 [-4.22093874e-01]
 [-2.12618896e-01]
 [-2.97887299e-01]
 [ 6.18258560e-01]
 [-7.84630086e-02]
 [ 2.33991347e-01]
 [-1.70953653e-01]
 [-4.32432767e-01]
 [-4.14062501e-01]
 [-2.28641684e-01]
 [-2.47121832e-01]
 [-2.64073622e-01]
 [-3.82126807e-01]
 [ 8.82083604e-02]
 [-4.92028748e-01]
 [-3.64236026e-01]
 [-3.08256160e-01]
 [-5.96386645e-01]
 [-7.26616749e-01]
 [-5.91052375e-01]
 [-2.07963896e-01]
 [ 2.35709501e-01]
 [-7.36581701e-02]
 [-5.01588479e-01]
 [-3.19813745e-01]
 [-4.57881086e-02]
 [ 1.75081195e+00]
 [ 1.18425490e-01]
 [-1.06532855e-01]
 [-4.95774724e-01]
 [-6.00522203e-01]
 [-1.77226915e-01]
 [-3.55705190e-01]
 [ 2.69742942e-01]
 [-5.86167623e-01]
 [-3.38693464e-01]
 [-1.58976519e-01]
 [ 8.82083604e-02]
 [ 3.13665759e-01]
 [-1.29697971e-01]
 [-5.43873056e-01]
 [-2.59049020e-01]
 [ 2.41567553e-02]
 [ 3.09070695e-01]
 [-7.22850795e-01]
 [-5.51854482e-01]
 [-2.95649702e-01]
 [-4.83028417e-01]
 [ 5.00714827e-01]
 [-6.88038191e-01]
 [-7.26616749e-01]
 [-2.55798168e-02]
 [ 6.09348131e-01]
 [-3.76402956e-01]
 [ 3.23931297e+00]
 [-6.38181748e-01]
 [-3.45356307e-01]
 [-2.20400537e-01]
 [-4.26219442e-01]
 [-5.94308877e-01]
 [ 3.80073988e+00]
 [-3.88390079e-01]
 [ 1.54306945e-01]
 [-6.26853917e-01]
 [ 3.31986644e+00]
 [-6.86579758e-01]
 [-7.07087728e-01]
 [-1.83060648e-01]
 [-3.29183680e-01]
 [-2.16145108e-01]
 [-4.36108819e-01]
 [-2.87418545e-01]
 [ 2.81450366e-01]
 [-3.11722437e-01]
 [-6.50588421e-01]
 [-6.41777885e-01]
 [ 1.78680763e-01]
 [-3.14389572e-01]
 [-5.98694166e-01]
 [-5.13485699e-01]
 [ 5.13630953e-01]
 [ 1.30087307e-02]
 [-3.43703738e-02]
 [ 2.06510867e-01]
 [-5.98094810e-01]
 [-6.06925324e-01]
 [ 3.07689744e+00]
 [-5.05724037e-01]
 [ 5.11877181e-02]
 [ 9.00944893e-01]
 [ 9.75079600e-02]
 [-3.61908526e-01]
 [ 1.01832880e+00]
 [-4.99001258e-01]
 [-1.81182665e-01]
 [-1.08450795e-01]
 [-5.43793142e-01]
 [-5.75255001e-02]
 [-1.27570257e-01]
 [-4.12404282e-01]
 [-2.50058677e-01]
 [-2.57071144e-01]
 [-1.20118262e-01]
 [-4.39734923e-01]
 [-2.63674051e-01]
 [ 1.03049573e+00]
 [-1.00564922e-02]
 [-2.80271878e-02]
 [ 8.90136503e-01]
 [-4.74757302e-01]
 [-5.44961887e-01]
 [-4.56282803e-02]
 [-5.49986489e-01]
 [-5.11158199e-01]
 [-1.64196568e-02]
 [ 3.91963216e+00]
 [-2.87638308e-01]
 [ 7.60010631e-02]
 [-7.71544143e-02]
 [-3.21352092e-01]
 [-4.85545713e-01]
 [-6.45224183e-01]
 [-6.57371134e-01]
 [-6.98367096e-01]
 [ 6.78398301e-02]
 [-6.26200275e-02]
 [-5.48038582e-01]
 [ 1.92770193e+00]
 [-4.62350629e-01]
 [ 1.54960587e-02]
 [-6.12049819e-01]
 [-3.96890947e-01]
 [ 8.82083604e-02]
 [ 5.38537763e+00]
 [-7.26616749e-01]
 [-4.47656414e-01]
 [-5.52479467e-02]
 [-1.00079787e-01]
 [-1.49976188e-01]
 [-7.26616749e-01]
 [-2.54473934e-01]
 [-7.05289659e-01]
 [ 9.45255079e-03]
 [-6.44325149e-01]
 [-9.87512146e-02]
 [ 1.76645514e+00]
 [-4.69133343e-01]
 [ 4.14657272e-01]
 [ 2.55967739e-01]
 [-5.28489581e-01]
 [-2.20090869e-01]
 [-7.14105845e-02]
 [ 1.00524719e-01]
 [-6.07954219e-01]
 [-6.58020437e-01]
 [-3.80838191e-01]
 [-7.95318604e-02]
 [-1.60125285e-01]
 [ 7.37734560e-02]
 [-4.71051283e-01]
 [ 1.60620164e-01]
 [-2.55552775e-01]
 [-5.26941245e-01]
 [-6.37732231e-01]
 [-4.02065389e-01]
 [-2.70636572e-01]
 [-2.35519951e-02]
 [-5.12676568e-01]
 [-2.04157985e-01]
 [-2.09462287e-01]
 [-4.30724602e-01]
 [-8.89517414e-02]
 [-5.13405785e-01]
 [ 2.34418454e+00]
 [ 3.58907160e-01]
 [-6.66461369e-01]
 [ 7.77691638e-02]
 [-2.73143879e-01]
 [-2.27103336e-01]
 [ 6.27358784e-01]
 [-8.35675253e-02]
 [ 1.49651946e-01]
 [-9.41761293e-02]
 [-1.97804809e-01]
 [ 2.83167087e+00]
 [-1.70444201e-01]
 [-2.61656219e-01]
 [ 1.32266188e+00]
 [ 1.48623051e-01]
 [-1.06223188e-01]
 [-1.18190333e-01]
 [-7.26616749e-01]
 [ 1.21652024e-01]
 [ 8.82083604e-02]
 [-6.19122222e-01]
 [ 2.50653014e+00]
 [-3.33648883e-01]
 [-1.58247303e-01]
 [-2.34215696e-01]
 [-3.56911693e-04]
 [-7.26506867e-01]
 [ 2.47405503e+00]
 [-6.07614584e-01]
 [ 1.29987414e-02]
 [-2.63694030e-01]
 [-1.54301541e-01]
 [-6.03224955e-02]
 [ 6.82591018e+00]]